<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Blog Posts</title>
    <meta name="description" content="Blog da Fran">
    <meta name="author" content="Francine Maciel">

    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="logo" href="/">Fran Maciel</a>
		<ul class="navbar-nav mr-auto">
			<li>
				<a class="nav-link" href="/">Início</a>
			</li>
			<li>
				<a class="nav-link" href="/Sobre">Sobre</a>
			</li>
			<li>
				<a class="nav-link" href="/Blogs">Blogs</a>
			</li>
		</ul>
	</nav>


<main class="blog-grid-container">
    <section class="blog-post">
        <img src="../images/blog-post-1.jpeg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3>Meus Locais Favoritos em Ubatuba</h3>
            <h5>3 Setembro, 2021</h5>
            <p class="blog-content-description">Encravada entre a serra e o mar, Ubatuba é um dos mais espetaculares e bem preservados destinos do Litoral Norte de São Paulo. E serão necessárias muitas viagens para conhecer as mais de cem praias que recheiam o cenário recortado desse pedacinho da Serra do... <a href="./BlogPost.ejs">Read More</a></p>
        </div>
    </section>
    <section class="blog-post">
        <img src="../images/blog-post-2.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3>Meus Locais Favoritos em Trindade</h3>
            <h5>5 Setembro, 2021</h5>
            <p class="blog-content-description">Trindade é um dos poucos lugares que eu já perdi a conta de quantas vezes visitei. Localizada a vinte quilômetros do centro histórico de Paraty e a uma hora do centro de Ubatuba... <a href="./BlogPost2.ejs">Read More</a></p>
        </div>
    </section>

</main>

<div class="clear-div"></div>

<footer class="footer">
    <p class="footer-content">© 2021 - Francine Maciel</p>
</footer>

<script src="../js/app.js"></script>
</body>
</html>