<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Ubatuba</title>
    <meta name="description" content="Blog da Fran">
    <meta name="author" content="Francine Maciel">

    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="logo" href="/">Fran Maciel</a>
		<ul class="navbar-nav mr-auto">
			<li>
				<a class="nav-link" href="/">Início</a>
			</li>
			<li>
				<a class="nav-link" href="/Sobre">Sobre</a>
			</li>
			<li>
				<a class="nav-link" href="/Blogs">Blogs</a>
			</li>
		</ul>
	</nav>


<main class="container">
    <div class="custom-container">
        <h1>Ubatuba Guia de Viagem</h1>
        <h6>Última Atualização: 3 Setembro, 2021</h6>
        <img src="../images/blog-post-1-cover.jpeg" class="blog-page-cover">
        <span class="blog-content">
            <p>Encravada entre a serra e o mar, Ubatuba é um dos mais espetaculares e bem preservados destinos do Litoral Norte de São Paulo. E serão necessárias muitas viagens para conhecer as mais de cem praias que recheiam o cenário recortado desse pedacinho da Serra do Mar. Ubatuba encanta com praias ainda desertas e de natureza quase intocada, muitas com acesso fácil e outras com lindas trilhas em meio à Mata Atlântica. </p>
            <p>Ubatuba é capaz de agradar a todos os turistas, tanto os que preferem se isolar em uma faixa de areia praticamente exclusiva quanto os que não abrem mão de um bom quiosque com música, comida e bebida sempre gelada à mão. Ser um destino para todos é o que há de melhor em Ubatuba. E temos a certeza de que Ubatuba também é para você. </p>
            <p class="summary-text">Praias de Ubatuba </p>
            <p>Destinos como a Praia do Félix, Praia de Itamambuca, Ilha Anchieta, Praia Domingas Dias, Praia do Lázaro, Praia da Sununga e Praia de Santa Rita são mesmo imperdíveis. Vale, entretanto, conferir também alguns cantinhos ainda pouco explorados em Ubatuba, como a Praia Brava do Camburi, a Praia do Português, a Praia do Cedro do Sul e as praias acessíveis por trilha. </p>
            <p>O importante, ao viajar rumo ao Litoral Norte de SP, é aproveitar ao máximo as praias de Ubatuba. Não é preciso tentar conhecer mais de cem praias em uma mesma viagem, sendo assim, prepare-se para voltar em breve. As praias de Ubatuba merecem bem mais que apenas uma viagem. </p>
        </span>
    </div>
</main>

<div class="clear-div"></div>

<footer class="footer">
    <p class="footer-content">© 2021 - Francine Maciel</p>
</footer>

<script src="../js/app.js"></script>
</body>
</html>