<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Trindade</title>
    <meta name="description" content="Blog da Fran">
    <meta name="author" content="Francine Maciel">

    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="logo" href="/">Fran Maciel</a>
		<ul class="navbar-nav mr-auto">
			<li>
				<a class="nav-link" href="/">Início</a>
			</li>
			<li>
				<a class="nav-link" href="/Sobre">Sobre</a>
			</li>
			<li>
				<a class="nav-link" href="/Blogs">Blogs</a>
			</li>
		</ul>
	</nav>


<main class="container">
    <div class="custom-container">
        <h1>Trindade Guia de Viagem</h1>
        <h6>Última Atualização: 5 Setembro, 2021</h6>
        <img src="../images/blog-post-2-cover.jpg" class="blog-page-cover">
        <span class="blog-content">
            <p>Trindade é um dos poucos lugares que eu já perdi a conta de quantas vezes visitei. </p>
            <p>Localizada a vinte quilômetros do centro histórico de Paraty e a uma hora do centro de Ubatuba, sua localização estratégica acaba sendo uma desculpa para que eu sempre volte mais uma vez. Afinal, não escondo de ninguém que Ubatuba é meu canto favorito no litoral de São Paulo e que faço questão de ir sempre que possível.</p>
			<p>No entanto, apesar das minhas constantes andanças por estes lados, não se engane: uma viagem a Trindade não é daquelas cheias de atrações imperdíveis, novidades, ou mil e uma coisas pra fazer. </p>
            <p>Na verdade, o que mais me atrai na vila é exatamente o oposto: sua tranquilidade – na baixa temporada – e a obrigação de não fazer nada, apenas observar os dias passarem vagarosamente de frente para o mar. </p>
			<p class="summary-text">O que fazer em Trindade </p>
			<p>Trindade é um destino pra relaxar e curtir a praia, sem listas de obrigações ou pontos turísticos para conhecer. Suas praias podem ser percorridas em um único dia, caso você queira. Porém, para mim, nada melhor do que passar no mínimo uma manhã ou tarde em cada uma delas. </p>
            <p>A Praia do Cepilho é a primeira da vila. Possui estrutura limitada e ondas fortes. Seguindo a direita, na mesma faixa de areia, você chegará na Praia de Fora, que costuma ser uma área pouco ocupada (na baixa temporada, claro). Já no canto direito está a Praia dos Ranchos, a mais movimentada devido aos seus quiosques e estrutura mais adequada. </p>
            <p>Lembrando que estas três praias estão na mesma faixa de areia. Do canto esquerdo, que é a Praia do Cepilho, ao canto direito, na Praia dos Ranchos, são apenas dois quilômetros de caminhada. </p>
            <p>Outra praia para visitar em Trindade é a Praia do Meio, que fica pertinho da Praia dos Ranchos mas não tem a estrutura da sua vizinha. E, uma vez na Praia do Meio, uma trilha bem fácil e curta te leva até a Praia do Cachadaço, de onde você poderá seguir até a piscina natural e a famosa Pedra que Engole. </p>
			<p>Além disso, você também pode aproveitar para conhecer o centro-histórico de Paraty, que está a vinte quilômetros, ou a belíssima Praia do Sono. Para chegar nessa última é preciso percorrer uma trilha de três quilômetros que se inicia na Vila Oratório, a uns dez quilômetros de Trindade. </p>
        </span>
    </div>
</main>

<div class="clear-div"></div>

<footer class="footer">
    <p class="footer-content">© 2021 - Francine Maciel</p>
</footer>

<script src="../js/app.js"></script>
</body>
</html>