<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blog de viagens</title>
    <meta name="description" content="Blog da Fran">
    <meta name="author" content="Francine Maciel">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="logo" href="/">Fran Maciel</a>
		<ul class="navbar-nav mr-auto">
			<li>
				<a class="nav-link" href="/">Início</a>
			</li>
			<li>
				<a class="nav-link" href="/Sobre">Sobre</a>
			</li>
			<li>
				<a class="nav-link" href="/Blogs">Blogs</a>
			</li>
		</ul>
	</nav>

    <div class="container">

        <!-- Destination 1 -->
        <div class="destinations-container">
            <div>
                <figure>
                    <img src="images/Ubatuba.jpg" class="destinations" alt="Destinations"/>
                    <figcaption>Fig.1 - Ubatuba, São Paulo, Brasil.</figcaption>
                </figure>
            </div>
            <div class="caption">
                <h5>Ubatuba</h5>
                <p>Destino ao qual você vai querer voltar varias vazes para conhecer todas as 100 maravilhosas praias</p>
            </div>
        </div>

        <!-- Destination 2 -->
        <div class="destinations-container">
            <div class="caption">
                <h5>Trindade</h5>
                <p>Lugar tranquilo pra relaxar na faixa de areia, no mar ou nas trilhas maravilhosas.</p>
            </div>
            <div>
                <figure>
                    <img src="images/Trindade.jpg" class="destinations" alt="Destinations"/>
                    <figcaption>Fig.2- Trindade, Rio de Janeiro, Brasil</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="clear-div"></div>
	
	<footer class="footer">
		<p class="footer-content">© 2021 - Francine Maciel</p>
	</footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>